@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.form_input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-2, 8px);
  align-self: stretch;
}

label {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  color: #262626;
}

input {
  display: flex;
  height: 40px;
  padding: var(--spacing-2, 8px) var(--spacing-3, 12px);
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;

  border-radius: var(--rounded-md, 6px);
  border: 1px solid var(--border, #d4d4d4);
  background: var(--background, #fff);
}

.btnL {
  display: flex;
  height: 44px;
  padding: var(--spacing-2, 8px) var(--spacing-8, 32px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-2, 8px);
  align-self: stretch;
  border-radius: var(--rounded-md, 6px);
  background: var(--primary, #6d28d9);
  color: var(--primary-foreground, #fff);
}
.btnL:hover {
  background: #d4d4d4;
}

.btn {
  display: inline-flex;
  height: 36px;
  padding: var(--spacing-2, 8px) var(--spacing-3, 12px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-2, 8px);
  flex-shrink: 0;

  border-radius: var(--rounded-md, 6px);
  border: 1px solid var(--border, #d4d4d4);
  background: var(--background, #fff);
  color: var(--secondary-foreground, #262626);
}
.btn:hover {
  background: var(--secondary, #e5e5e5);
}

.btnBoard {
  display: flex;
  height: 36px;
  padding: var(--spacing-2, 8px) var(--spacing-3, 12px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-2, 8px);

  border-radius: var(--rounded-md, 6px);
  background: var(--primary, #6d28d9);
}

.link {
  color: var(--primary, #6d28d9);
}

.container {
  max-width: none;
  height: 100vh;
}

.content {
  display: grid;
  width: 1024px;
  padding: var(--spacing-16, 64px) 0px;
  align-items: flex-start;
  gap: 82px;
  margin-inline: auto;
  height: auto;
}

select {
  border: 1px solid black;
  height: 40px;
}

.sort {
  display: grid;
  grid-template-rows: 25px 80px;
  /* flex-direction: column; */
  /* align-items: flex-start; */
  gap: var(--spacing-4, 16px);
  width: 155px;
}
